[[plugins]]
repo = 'Shougo/deoplete.nvim'
on_i = 1
hook_source = '''
  let g:deoplete#enable_at_startup = 1
  let g:deoplete#auto_complete_delay = 0
  let g:deoplete#auto_complete_start_length = 1
'''

[[plugins]]
repo = 'Shougo/neosnippet-snippets'

[[plugins]]
repo = 'Shougo/neosnippet'
on_i = 1
on_ft = ['snippet']
depends = ['neosnippet-snippets']
hook_source = '''
  imap <C-k> <Plug>(neosnippet_expand_or_jump)
  smap <C-k> <Plug>(neosnippet_expand_or_jump)
  xmap <C-k> <Plug>(neosnippet_expand_or_jump)

  if has('conseal')
    set conceallevel=2 concealcursor=niv
  endif
'''

[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'plasticboy/vim-markdown'
on_ft = 'markdown'
hook_source = '''
    set nofoldenable
'''

[[plugins]]
repo = 'kannokanno/previm'
on_ft = 'markdown'
hook_source = '''
    let g:previm_open_cmd = 'open -a Firefox'
    augroup PrevimSettings
        autocmd!
        autocmd BufNewFile, BufRead *.{md, mkd, mark*} set filetype=markdown
    augroup END
'''

